@charset "utf-8";

:root {
    --cor-principal: #3c59e7;
    --cor-claro: #eaeaea;
    --cor-escuro: #232323;
    --preenchimento-pequeno: 0.25rem 1rem;
    --preenchimento-medio: 2rem;
    --preenchimento-grande: 4rem;
}

header {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
    padding: var(--preenchimento-pequeno);
    text-align: center;
}

section {
    background-color: var(--cor-claro);
    padding: var(--preenchimento-medio);
}

div {
    --preenchimento-medio: 1.5rem;
    background-color: var(--cor-principal);
    color: var(--cor-claro);
    padding: var(--preenchimento-medio);
    text-align: center;
}

.red-box {
    --cor-principal: #f64348;
}